<div class="cover d-flex justify-content-start align-items-end">
    <header>
        <% if @featured_traveling_article.nil? %>
            <a href="#">
                <%= image_tag('https://www.samsung.com/etc/designs/smg/global/imgs/support/cont/NO_IMG_600x600.png',  options = {class:'article-image'}) %>    
            </a>
            <h3 class="header-color">There is no articles</h3>
        <% else %>
            <%= image_tag(@featured_traveling_article.image,  options = {class:'article-image-full'}) if @featured_traveling_article.image.attached? %>
            <%= image_tag('https://concepto.de/wp-content/uploads/2019/05/aurora-boreal-polar-e1559012098292.jpg',  options = {class:'article-image-full'}) if !@featured_traveling_article.image.attached? %>    
            <h3 class="header-color"><%= @featured_traveling_article.title%></h3>
            <span><%=@featured_traveling_article.text.truncate(80)%></span>
        <% end %>
    </header>    
</div>
<aside class="feautures d-flex flex-row">
    <% if @list_of_categories.count.zero? %>
        <% 3.times do %>
            <div class="featured_box">
                 <div class="d-flex align-items-end justify-content-start">
                    <b>Category Name</b>
                    <span>Title<span>
                </div>
            </div>
        <% end %>
    <% else %>
        <% @list_of_categories.each do |item| %>
            <% if !item.travels.first.nil? %>
                <div class="featured-box">
                    <%= link_to travel_path(item.travels.first.id) do %>
                        <%= image_tag(item.travels.order(created_at: :desc).first.image,  options = {class:'article-image-full'}) if item.travels.order(created_at: :desc).first.image.attached? %>
                        <%= image_tag('https://imagenescityexpress.scdn6.secure.raxcdn.com/sites/default/files/2016-09/safety-trip-mexico1.jpg', options = {class:'article-image-full'}) if !item.travels.order(created_at: :desc).first.image.attached? %>    
                    <%end%>
                    <div class="d-flex flex-column align-items-start top">
                            <b><%= link_to item.name, category_path(item.id), class:'link-category' %></b>
                    </div>
                    <div class="d-flex flex-column align-items-start resume">
                            <span><%= link_to item.travels.order(created_at: :desc).first.title, travel_path(item.travels.order(created_at: :desc).first.id), class:'link' %></span>
                    </div>
                </div>
            <% end %>
        <% end %>
    <%end%>
</aside>

<br><br>