<h1>Create a new traveling article</h1>

<%= form_for @travel, local:true, multipart: true do |f| %>

  <%= f.label :title, "Title:" %><br>
  <%= f.text_area :title %><br><br>

  <%= f.label :text, "Text:" %><br>
  <%= f.text_area :text %><br><br>

  <div class="field">
    <%= f.label :image %>
    <%= f.file_field :image %>
  </div>
  <br><br>

  <ul>
    <% @categories.each do |category| %>
      <li>
        <%= check_box_tag "category_ids[]", category.id, false, class: 'form-control col-6', id:"checkbox#{category.id}" %>
        <%= label_tag category.name, category.name %>
      </li>
    <% end %>
  </ul>
  <br><br>

  <%= f.submit "Create Article", disable_with: 'Creating...' %>
<% end %>