<h1><%= @travel.title %></h1>
<h2><%= @travel.author.name %></h2>

<!--Option to vote here-->

<!--Image here-->

<p>
    <%= @travel.text %>
</p>

<h3>Comments</h3>
<%= render partial: 'travels/comment', collection: @travel.comments %>
<%= render partial: 'comments/form' %>
