<h1><%= @travel.title %></h1>
<h2><%= @travel.author.name %></h2>

<%= image_tag(@travel.image) if @travel.image.attached? %>

<p>
    <%= @travel.text %>
</p>

<h3>Comments</h3>
<%= render partial: 'travels/comment', collection: @travel.comments %>
<%= render partial: 'comments/form' %>
