<h3>Post a Comment</h3>

<%= form_for :comment, :url => comments_path(@comment.travel_id) do |f| %>
  <p>
    <%= f.hidden_field :travel_id %>
  </p>

  <% if current_user.nil? %>
  <p>
    <%= f.label :author_name, "Your Name:"  %><br/>
    <%= f.text_field :author_name, class: 'form-control' %>
  </p>
  <% else %>
    <p>
      <%= f.label :author_name, "Your Name: #{current_user.name}"  %><br/>
      <%= f.hidden_field :author_name, :value => current_user.name %>
    </p>
  <% end %>
  <p>
    <%= f.label :body, "Your Comment:" %><br/>
    <%= f.text_area :body, class: 'form-control' %>
  </p>
  <p>
    <%= f.submit 'Submit', class:'btn btn-lg btn-primary btn-block mt-3' %>
  </p>
<% end %>