<div class="articles">

<% @travels_by_category.each_with_index do |item, i| %>

    <div class="article-card" style="flex-direction: <%= ((i/2).floor() % 2 == 0 ? 'row' : 'row-reverse') %>;">

        <%= show_current_image(item) %>

        <article class="article-box col-6 col-no-padding col-only-left-padding">
                <h5><%= @category.name%></h5>
                <p class="title"><%= item.title %></p>
                <p>
                    Author: <%= item.author.name %> | 
                    <%= item.total_votes %>
                    <%= show_link_to_vote(item) %>
                </p>
                <p><%= item.text.truncate(100) %></p>
                <%= link_to "Read more", travel_path(item.id), class:'link-article header-color' %></span>
        </article>
    </div>
    
<% end %>

</div>