<h2>Traveling articles in <%= @category.name%> </h2>

<% @travels_by_category.each do |item| %>
    <img src="<%= item.image %>"><br><br>
    <h4><%= item.title %></h4>
    <p><%= item.text.truncate(100) %></p>
    <p>Author: <%= item.author.name %><p>
    <p>
        <%= item.total_votes %>
        <%= button_to 'Vote!', votes_path(user_id: current_user, travel_id: item.id, category_id: @category.id) %>
    </p>
    <h3>Comments</h3>
    <%= render partial: 'travels/comment', collection: item.comments %>
<% end %>