<div class="articles">

<% @travels_by_category.each_with_index do |item, i| %>

    <div class="article-card" style="flex-direction: <%= ((i/2).floor() % 2 == 0 ? 'row' : 'row-reverse') %>;">
        <% if item.image.attached? %> 
            <%= image_tag(item.image,  options = {class:'article-img col-6 col-no-padding'}) %>
        <%else%>
            <div class="article-img col-6 col-no-padding" style="background-image: url('https://www.samsung.com/etc/designs/smg/global/imgs/support/cont/NO_IMG_600x600.png')"></div>
        <%end%>
        <article class="article-box col-6 col-no-padding col-only-left-padding">
                <h5><%= @category.name%></h5>
                <p class="title"><%= item.title %></p>
                <p>
                    Author: <%= item.author.name %> | 
                    <%= link_to '', votes_path(user_id: current_user, travel_id: item.id, category_id: @category.id), mehod: :post, class: 'fa fa-thumbs-up header-color' %>
                    <%= item.total_votes %>
                </p>
                <p><%= item.text.truncate(100) %></p>
                <%= link_to "Read more", travel_path(item.id), class:'link-article header-color' %></span>
        </article>
    </div>
    
<% end %>

</div>