<!DOCTYPE html>
<html>
  <head>
    <title>TravelLifeArticles</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    
    <nav>
      <%= user_actions(current_user) %> - <%= link_to "Home", root_url %><%= create_article %>
    </nav>

    <p><%= flash.notice %></p>
    <p><%= flash.alert %></p>

    <br>
    <%= yield %>
  </body>
</html>
