<!DOCTYPE html>
<html>
  <head>
    <title>TrAvEl LiFe Articles</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:400,600,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Sarala:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Sarala:wght@400;700&display=swap" rel="stylesheet">
  </head>

  <body>
    
    <nav class="d-flex justify-content-center">
      <div class="logo d-flex align-items-start side-space">
        <%= link_to "/" do %>
          <span class="brand-name font-weight-bold">TrAvEl LiFe</span>
        <% end %>
        <span class="header-color font-weight-bold">○</span>
      </div>
      <ul class="nav justify-content-center center-space">
        <li><%= link_to "HOME", root_url %></li>
        <% if !current_user.nil? %>
          <li><%= link_to "WRITE AN ARTICLE", new_travel_path %></li>
        <% end %>
      </ul>
      <div class="d-flex align-items-end justify-content-end side-space user-actions">
        <%= user_actions(current_user) %>
        <i class="fa fa-search search-icon"></i>
      </div>
    </nav>

    <% if flash.notice.present? %>
      <div class="alert alert-primary text-center" role="alert">
        <%= flash.notice %>
      </div>
    <% end %>
    <% if flash.alert.present? %>
      <div class="alert alert-warning text-center" role="alert">
        <%= flash.alert %>
      </div>
    <% end %>

    <% if @no_footer.nil? %>
      <main class="container text-white mb-5">
        <%= yield %>
      </main>

      <%= render partial: 'layouts/footer' %>
    <%else%>
      <main class="container text-white">
        <%= yield %>
      </main>
    <% end %>

  </body>
</html>
